@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/src/components/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  }

.error_container{
    width: 90%;
    min-height: 100vh;
    padding: 5%;
    background-position: center;
    background-size: cover;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem{
    position: absolute;
    top: 0px;
    width:3000px;
}

.texto1{
    position: absolute;
    top: 300px;
    
    font-family: Poppins, serif;
    font-size: 70px;   
}

.texto2{
    position:absolute;
    top:430px;
    font-family: Poppins, serif;
    font-size: 25px; 
    width: 400px;
    text-align: center;
}

.meditando{
    position: absolute;
    top: 400px;
}

.botao{
    position: absolute;
    top:1050px;
    left: 850px;
    width: 170px;
    height: 35px;
    background-color: #00305b;
    color: #FFFFFF;
    font-family: Poppins, serif;
    border-radius: 15px;
    box-shadow: 0px 4px 9px 0px rgba(77, 71, 195, 0.40);
}

.botao:hover{
    transform: scale(1.1);
    cursor: pointer;
}