@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/src/components/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

*{
    max-width: 100%;
    margin: 0 auto; 
}

.home_container{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: #FFFFFF;
    display: flexbox;
}

.body{
    display: inline;
    justify-content: center;
}

.search_bar{
    
    width: 50%;
    margin-bottom: 10%;
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 10px 20px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    color: black;
}

.search_bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
    box-shadow: #929292;
}

::placeholder{
    color: #929292;
    font-family: Poppins, serif;
    font-size: 25px;
    top: 60px;
}

.search_bar button img{
    width: 25px;
}

.search_bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #A7A3FF;
}
.search_bar button:hover{
    cursor: pointer;
}


.logo_container{
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.descricao_container{
    margin-top: 300px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    font-family: Poppins, serif;
    font-size: 20px;
    
}
.descricao_container>div {
    display: flex;
}

.h button{
    border-radius: 50px;
    background-color: #918BFF;
    width: 60px;
    height: 60px;
}

.h button:hover{
    transform: scale(1.1);
    
}

.button_login_container{
    display: flex;
    
    justify-content: flex-end;
    margin-top: 4%;
    
}

.button_login_container>div{
    display: flex;
    justify-content: flex-end;
}

.botaoLogin{
    top:50px;
    right: 150px;
    width: 140px;
    height: 30px;
    position: absolute;
    /* display: flexbox; */
    justify-content: right;
    /* align-items: center; */
    background-color: #00305b;
    color: #FFFFFF;
    font-family: Poppins, serif;
    border-radius: 15px;

    box-shadow: 0px 4px 9px 0px rgba(77, 71, 195, 0.40);
}

.botaoLogin:hover{
    transform: scale(1.1);
    cursor: pointer;
}



.sobreUnBusca_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/Rectangle9.svg);
    background-position-x: center;
    width: 100%;
    height: 150vh;
    max-height: 800px;
}
.sobreUnBusca_container>div {
    display: flexbox;
}

.facilidades_container {
flex-direction: column;
display: flex;
width: 100%;
height: 90vh;
max-height: 800px;
}


.facilidades_titulo{
    display: flex;
    width: 100%;
    height: 20vh;
}

.bolinhas{
width: 100%;
justify-content: space-between;
display: flex;
justify-items: center;
}


.menina_container {
    display: flex;
    margin-top: -100px;
    justify-content: flex-start;
}

.menina{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.titulo{
    padding-left: 20px;
    font-family: Poppins, serif;
    font-size: 40px;   
}

.texto{
    padding-left: 20px;
    font-family: Poppins, serif;
    font-size: 30px;   
}

.texto2{
    padding-left: 20px;
    font-family: Poppins, serif;
    font-size: 20px;   
}

.texto3{
    padding-top: 3vh;
    font-family: Poppins, serif;
    font-size: 20px;   
    width: 25%;
    text-align: center;
}
.titulo3{
    padding-top: 3vh;
    font-family: Poppins, serif;
    font-size: 30px;   
    width: 25%;
    text-align: center;
}

@media (max-width: 560px) {
    .sobreUnBusca_container {
        display: inline-block;
        background-image: url(../img/Rectangle9.svg);
        background-position-x: center;
        width: 2000px;
        height: 2100px;
        padding-top: 100px;
    }
    .facilidades_container {
        flex-direction: column;
        display: inline-block;
        width: 100%;
        height: 90vh;
        }
        

    .botao_login {
        display: flex;
        justify-content: center;
    }
    .search_bar {
        width: min-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10px 0px 10px;
    }
    .descricao_container{
        font-size: 20px;
        text-align: center;
        padding: 0px 20px 0px 20px;
    }
    .titulo{
        font-size: 30px;
    }
    .texto{
        font-size: 20px;
    }
    .texto2{
        font-size: 15px;
    }
    
}