@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/src/components/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  }

  *{
    max-width: 100%;
    margin: 0 auto; 
}
.imagem{
    left: 0%;
    top: -2%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.search_bar{
    width: 50%;
    height: 46px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #FAFAFA;
    display: flex;
    border-radius: 60px;
    padding: 0px 20px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    color: black;
}

.search_bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
    box-shadow: #929292;
    z-index: 1;
}

.search_bar button img{
    width: 30px;
    z-index: 1;
}

.search_bar button{
    border: 0;
    border-radius: 50%;
    width: 42px;
    height: 43px;
    background: #A7A3FF;
    z-index: 1;
}
.search_bar button:hover{
    cursor: pointer;
}

::placeholder{
    color: #929292;
    font-family: Poppins, serif;
    font-size: 25px;
    top: 60px;
}

.sair{
    top:80px;
    right: 150px;
    width: 140px;
    height: 30px;
    position: absolute;
    /* display: flexbox; */
    justify-content: right;
    /* align-items: center; */
    background-color: #00305b;
    color: #FFFFFF;
    font-family: Poppins, serif;
    border-radius: 15px;
    box-shadow: 0px 4px 9px 0px rgba(77, 71, 195, 0.40);
}

.retangulo {
    position: absolute;
    width: 1367px;
    height: 309px;
    top: 400px;
    left: 270px;
}

.retanguloBranco{
    position: absolute;
    width: 536px;
    height: 106px;
    top: 550px;
    left: 370px;
}

.menina{
    position: absolute;
    top: 260px;
    left: 1200px;
}

.estrela{
    position: absolute;
    top: 850px;
    left: 910px;
}

.onda{
    top: 63%;
    left: 0%;
    position: absolute;
    width: 14540px;
    height: 1043.74px;
}

.ola{
    position: absolute;
    top: 435px;
    left: 370px;
    font-family: Poppins, serif;
    font-size: 50px; 
}

.nome{
    position: absolute;
    top: 570px;
    left: 400px;
    font-family: Poppins, serif;
}

.email{
    position: absolute;
    top: 610px;
    left: 400px;
    font-family: Poppins, serif;
}


@media (max-width: 560px) {
    .onda {
        display: flex;
        background-image: url(../img/Rectangle23.svg);
        background-position-x: center;
        width: 200px;
        height: 20px;
        padding-top: 10px;
    }
}